<tr value='<%=data.no%>'>
	<td><%=data.no%></td>
	<td><%=data.name%></td>
	<td>0</td>
	<td><%=data.description%></td>
	<td>
		<a href="<%=path%>/blog/${data.blogId }/admin/category/delete/${data.no }">
			<img src="<%=path%>/assets/images/delete.jpg">
		</a>
	</td>
</tr>